/* ==========================================================================
   Author's custom styles
   ========================================================================== */

@import 'variables';
@import 'fonts';

// Global
body {
  background-color: #f1f1f1;
}

// layout
.layout {
  padding: 0 10px;
  .layout__left,
  .layout__right {
    padding-top: 10px;
  }
  .layout__left {
    @include borderGrey(right);
  }
  .layout__right {

  }
  h1 {
    display: inline-block;
    margin: 0 10px 0 0;
    vertical-align: top;
    font-size: 23px;
    font-weight: 400;
  }
}

// Toolsbar
.toolsbar {
  margin: 20px 0;
  padding: 10px;
  background-color: white;
  @include borderGrey(around);
}

// Mosaic
.mosaic {
  margin: 20px 0;
  padding: 15px;
  @include borderGrey(around);
  .mosaic__row {
    margin-bottom: 15px;
  }
  .mosaic__col {
    a {
      cursor: pointer;
    }
    img {
      width: 100%;
      height: auto;
    }
  }
}

// Modal Edit
.ME {
  .modal-dialog {
    width: 95%;
  }
  .modal-tiltle {
    display: inline-block;
  }
  .ME__left {
    padding: 5%;
    img {
      width: 50%;
      height: auto;
    }
  }
  .ME__right {
    aside {
      background-color: $greyAside;
      min-height: 300px;
      padding: 10px;
      @include borderGrey(left);
    }
  }
}

.FE {
  padding: 10px;
  @include borderGrey(bottom);
}
